/* #Import Google Font & flaticon font */

@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,700,400);
@import url(http://fonts.googleapis.com/css?family=Yellowtail);


.containerDoutrina {
    margin-right: auto;
    margin-left: auto
}

.containerDoutrina {
    padding-right: 10px;
    padding-left: 10px
}

.pre-scrollable {
    overflow-y: scroll
}

@media (min-width:768px) {
    .containerDoutrina {
        width: 750px
    }
}

@media (min-width:992px) {
    .containerDoutrina {
        width: 970px
    }
}

@media (min-width:1200px) {
    .containerDoutrina {
        width: 1170px
    }
}

.rowDoutrina {
    margin-right: -15px;
    margin-left: -15px
}

.col-md-10 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width:992px) {

    .col-md-10 {
        width: 83.33333333%
    }

}

.item-element img {
    border: 0;
    vertical-align: middle
}

.item-element .aimee,
.cruz,
.pomba,
.calice,
.coroa {
    height: 48px;
}

.ball-pulse>div:nth-child(0) {
    -webkit-animation: scale 0.75s -0.36s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s -0.36s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.ball-pulse>div:nth-child(1) {
    -webkit-animation: scale 0.75s -0.24s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s -0.24s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.ball-pulse>div:nth-child(2) {
    -webkit-animation: scale 0.75s -0.12s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s -0.12s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.ball-pulse>div:nth-child(3) {
    -webkit-animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.ball-pulse>div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
}

@-webkit-keyframes ball-pulse-sync {
    33% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    66% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes ball-pulse-sync {
    33% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    66% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.ball-pulse-sync>div:nth-child(0) {
    -webkit-animation: ball-pulse-sync 0.6s -0.21s infinite ease-in-out;
    animation: ball-pulse-sync 0.6s -0.21s infinite ease-in-out;
}

.ball-pulse-sync>div:nth-child(1) {
    -webkit-animation: ball-pulse-sync 0.6s -0.14s infinite ease-in-out;
    animation: ball-pulse-sync 0.6s -0.14s infinite ease-in-out;
}

.ball-pulse-sync>div:nth-child(2) {
    -webkit-animation: ball-pulse-sync 0.6s -0.07s infinite ease-in-out;
    animation: ball-pulse-sync 0.6s -0.07s infinite ease-in-out;
}

.ball-pulse-sync>div:nth-child(3) {
    -webkit-animation: ball-pulse-sync 0.6s 0s infinite ease-in-out;
    animation: ball-pulse-sync 0.6s 0s infinite ease-in-out;
}

.ball-pulse-sync>div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
}

@-webkit-keyframes ball-scale {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes ball-scale {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

.ball-scale>div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
    height: 60px;
    width: 60px;
    -webkit-animation: ball-scale 1s 0s ease-in-out infinite;
    animation: ball-scale 1s 0s ease-in-out infinite;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.ball-rotate {
    position: relative;
}

.ball-rotate>div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: relative;
}

.ball-rotate>div:first-child {
    -webkit-animation: rotate 1s 0s cubic-bezier(.7, -.13, .22, .86) infinite;
    animation: rotate 1s 0s cubic-bezier(.7, -.13, .22, .86) infinite;
}

.ball-rotate>div:before,
.ball-rotate>div:after {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    content: "";
    position: absolute;
    opacity: 0.8;
}

.ball-rotate>div:before {
    top: 0px;
    left: -28px;
}

.ball-rotate>div:after {
    top: 0px;
    left: 25px;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
    }

    50% {
        -webkit-transform: rotate(180deg) scale(0.6);
        transform: rotate(180deg) scale(0.6);
    }

    100% {
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1);
    }
}

.ball-clip-rotate>div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    border: 2px solid #fff;
    border-bottom-color: transparent;
    height: 25px;
    width: 25px;
    background: transparent !important;
    display: inline-block;
    -webkit-animation: rotate 0.75s 0s linear infinite;
    animation: rotate 0.75s 0s linear infinite;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
    }

    50% {
        -webkit-transform: rotate(180deg) scale(0.6);
        transform: rotate(180deg) scale(0.6);
    }

    100% {
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1);
    }
}

@keyframes scale {
    30% {
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.ball-clip-rotate-pulse {
    position: relative;
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
}

.ball-clip-rotate-pulse>div {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 100%;
}

.ball-clip-rotate-pulse>div:first-child {
    background: #fff;
    height: 16px;
    width: 16px;
    top: 7px;
    left: -7px;
    -webkit-animation: scale 1s 0s cubic-bezier(.09, .57, .49, .9) infinite;
    animation: scale 1s 0s cubic-bezier(.09, .57, .49, .9) infinite;
}

.ball-clip-rotate-pulse>div:last-child {
    position: absolute;
    border: 2px solid #fff;
    width: 30px;
    height: 30px;
    left: -16px;
    top: -2px;
    background: transparent;
    border: 2px solid;
    border-color: #fff transparent #fff transparent;
    -webkit-animation: rotate 1s 0s cubic-bezier(.09, .57, .49, .9) infinite;
    animation: rotate 1s 0s cubic-bezier(.09, .57, .49, .9) infinite;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
    }

    50% {
        -webkit-transform: rotate(180deg) scale(0.6);
        transform: rotate(180deg) scale(0.6);
    }

    100% {
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1);
    }
}

.ball-clip-rotate-multiple {
    position: relative;
}

.ball-clip-rotate-multiple>div {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    left: -20px;
    top: -20px;
    border: 2px solid #fff;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    -webkit-animation: rotate 1s 0s ease-in-out infinite;
    animation: rotate 1s 0s ease-in-out infinite;
}

.ball-clip-rotate-multiple>div:last-child {
    display: inline-block;
    top: -10px;
    left: -10px;
    width: 15px;
    height: 15px;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    border-color: #fff transparent #fff transparent;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

@-webkit-keyframes ball-scale-ripple {
    0% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 1;
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.7;
    }

    100% {
        opacity: 0.0;
    }
}

@keyframes ball-scale-ripple {
    0% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 1;
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.7;
    }

    100% {
        opacity: 0.0;
    }
}

.ball-scale-ripple>div {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 2px solid #fff;
    -webkit-animation: ball-scale-ripple 1s 0s infinite cubic-bezier(.21, .53, .56, .8);
    animation: ball-scale-ripple 1s 0s infinite cubic-bezier(.21, .53, .56, .8);
}

@-webkit-keyframes ball-scale-ripple-multiple {
    0% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 1;
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.7;
    }

    100% {
        opacity: 0.0;
    }
}

@keyframes ball-scale-ripple-multiple {
    0% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 1;
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.7;
    }

    100% {
        opacity: 0.0;
    }
}

.ball-scale-ripple-multiple {
    position: relative;
    -webkit-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    transform: translateY(-25px);
}

.ball-scale-ripple-multiple>div:nth-child(0) {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.ball-scale-ripple-multiple>div:nth-child(1) {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.ball-scale-ripple-multiple>div:nth-child(2) {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.ball-scale-ripple-multiple>div:nth-child(3) {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.ball-scale-ripple-multiple>div {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    top: -2px;
    left: -26px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #fff;
    -webkit-animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(.21, .53, .56, .8);
    animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(.21, .53, .56, .8);
}

@-webkit-keyframes ball-beat {
    50% {
        opacity: 0.2;
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes ball-beat {
    50% {
        opacity: 0.2;
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.ball-beat>div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
    -webkit-animation: ball-beat 0.7s 0s infinite linear;
    animation: ball-beat 0.7s 0s infinite linear;
}

.ball-beat>div:nth-child(2n-1) {
    -webkit-animation-delay: -0.35s !important;
    animation-delay: -0.35s !important;
}

@-webkit-keyframes ball-scale-multiple {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes ball-scale-multiple {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

.ball-scale-multiple {
    position: relative;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
}

.ball-scale-multiple>div:nth-child(2) {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.ball-scale-multiple>div:nth-child(3) {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.ball-scale-multiple>div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    left: -30px;
    top: 0px;
    opacity: 0;
    margin: 0;
    width: 60px;
    height: 60px;
    -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
    animation: ball-scale-multiple 1s 0s linear infinite;
}

@-webkit-keyframes ball-triangle-path-1 {
    33% {
        -webkit-transform: translate(25px, -50px);
        transform: translate(25px, -50px);
    }

    66% {
        -webkit-transform: translate(50px, 0px);
        transform: translate(50px, 0px);
    }

    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

@keyframes ball-triangle-path-1 {
    33% {
        -webkit-transform: translate(25px, -50px);
        transform: translate(25px, -50px);
    }

    66% {
        -webkit-transform: translate(50px, 0px);
        transform: translate(50px, 0px);
    }

    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

@-webkit-keyframes ball-triangle-path-2 {
    33% {
        -webkit-transform: translate(25px, 50px);
        transform: translate(25px, 50px);
    }

    66% {
        -webkit-transform: translate(-25px, 50px);
        transform: translate(-25px, 50px);
    }

    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

@keyframes ball-triangle-path-2 {
    33% {
        -webkit-transform: translate(25px, 50px);
        transform: translate(25px, 50px);
    }

    66% {
        -webkit-transform: translate(-25px, 50px);
        transform: translate(-25px, 50px);
    }

    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

@-webkit-keyframes ball-triangle-path-3 {
    33% {
        -webkit-transform: translate(-50px, 0px);
        transform: translate(-50px, 0px);
    }

    66% {
        -webkit-transform: translate(-25px, -50px);
        transform: translate(-25px, -50px);
    }

    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

@keyframes ball-triangle-path-3 {
    33% {
        -webkit-transform: translate(-50px, 0px);
        transform: translate(-50px, 0px);
    }

    66% {
        -webkit-transform: translate(-25px, -50px);
        transform: translate(-25px, -50px);
    }

    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

.ball-triangle-path {
    position: relative;
    -webkit-transform: translate(-29.994px, -37.50938px);
    -ms-transform: translate(-29.994px, -37.50938px);
    transform: translate(-29.994px, -37.50938px);
}

.ball-triangle-path>div:nth-child(1) {
    -webkit-animation-name: ball-triangle-path-1;
    animation-name: ball-triangle-path-1;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.ball-triangle-path>div:nth-child(2) {
    -webkit-animation-name: ball-triangle-path-2;
    animation-name: ball-triangle-path-2;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.ball-triangle-path>div:nth-child(3) {
    -webkit-animation-name: ball-triangle-path-3;
    animation-name: ball-triangle-path-3;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.ball-triangle-path>div {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #fff;
}

.ball-triangle-path>div:nth-of-type(1) {
    top: 50px;
}

.ball-triangle-path>div:nth-of-type(2) {
    left: 25px;
}

.ball-triangle-path>div:nth-of-type(3) {
    top: 50px;
    left: 50px;
}

@-webkit-keyframes ball-pulse-rise-even {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    25% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    50% {
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }

    75% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes ball-pulse-rise-even {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    25% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    50% {
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }

    75% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes ball-pulse-rise-odd {
    0% {
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }

    25% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
}

@keyframes ball-pulse-rise-odd {
    0% {
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }

    25% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
}

.ball-pulse-rise>div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: cubic-bezier(.15, .46, .9, .6);
    animation-timing-function: cubic-bezier(.15, .46, .9, .6);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

.ball-pulse-rise>div:nth-child(2n) {
    -webkit-animation-name: ball-pulse-rise-even;
    animation-name: ball-pulse-rise-even;
}

.ball-pulse-rise>div:nth-child(2n-1) {
    -webkit-animation-name: ball-pulse-rise-odd;
    animation-name: ball-pulse-rise-odd;
}

@-webkit-keyframes ball-grid-beat {
    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ball-grid-beat {
    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

.ball-grid-beat {
    width: 57px;
}

.ball-grid-beat>div:nth-child(1) {
    -webkit-animation-delay: -0.07s;
    animation-delay: -0.07s;
    -webkit-animation-duration: 1.53s;
    animation-duration: 1.53s;
}

.ball-grid-beat>div:nth-child(2) {
    -webkit-animation-delay: 0.72s;
    animation-delay: 0.72s;
    -webkit-animation-duration: 0.94s;
    animation-duration: 0.94s;
}

.ball-grid-beat>div:nth-child(3) {
    -webkit-animation-delay: 0.11s;
    animation-delay: 0.11s;
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
}

.ball-grid-beat>div:nth-child(4) {
    -webkit-animation-delay: 0.13s;
    animation-delay: 0.13s;
    -webkit-animation-duration: 1.01s;
    animation-duration: 1.01s;
}

.ball-grid-beat>div:nth-child(5) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}

.ball-grid-beat>div:nth-child(6) {
    -webkit-animation-delay: 0.18s;
    animation-delay: 0.18s;
    -webkit-animation-duration: 0.97s;
    animation-duration: 0.97s;
}

.ball-grid-beat>div:nth-child(7) {
    -webkit-animation-delay: -0.09s;
    animation-delay: -0.09s;
    -webkit-animation-duration: 0.67s;
    animation-duration: 0.67s;
}

.ball-grid-beat>div:nth-child(8) {
    -webkit-animation-delay: 0.42s;
    animation-delay: 0.42s;
    -webkit-animation-duration: 0.92s;
    animation-duration: 0.92s;
}

.ball-grid-beat>div:nth-child(9) {
    -webkit-animation-delay: 0.52s;
    animation-delay: 0.52s;
    -webkit-animation-duration: 1.43s;
    animation-duration: 1.43s;
}

.ball-grid-beat>div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
    /* float: left; */
    -webkit-animation-name: ball-grid-beat;
    animation-name: ball-grid-beat;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

@-webkit-keyframes ball-grid-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0.7;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes ball-grid-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0.7;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.ball-grid-pulse {
    width: 57px;
}

.ball-grid-pulse>div:nth-child(1) {
    -webkit-animation-delay: 0.73s;
    animation-delay: 0.73s;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
}

.ball-grid-pulse>div:nth-child(2) {
    -webkit-animation-delay: 0.32s;
    animation-delay: 0.32s;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
}

.ball-grid-pulse>div:nth-child(3) {
    -webkit-animation-delay: 0.71s;
    animation-delay: 0.71s;
    -webkit-animation-duration: 0.88s;
    animation-duration: 0.88s;
}

.ball-grid-pulse>div:nth-child(4) {
    -webkit-animation-delay: 0.62s;
    animation-delay: 0.62s;
    -webkit-animation-duration: 1.06s;
    animation-duration: 1.06s;
}

.ball-grid-pulse>div:nth-child(5) {
    -webkit-animation-delay: 0.31s;
    animation-delay: 0.31s;
    -webkit-animation-duration: 0.62s;
    animation-duration: 0.62s;
}

.ball-grid-pulse>div:nth-child(6) {
    -webkit-animation-delay: -0.14s;
    animation-delay: -0.14s;
    -webkit-animation-duration: 1.48s;
    animation-duration: 1.48s;
}

.ball-grid-pulse>div:nth-child(7) {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
    -webkit-animation-duration: 1.47s;
    animation-duration: 1.47s;
}

.ball-grid-pulse>div:nth-child(8) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    -webkit-animation-duration: 1.49s;
    animation-duration: 1.49s;
}

.ball-grid-pulse>div:nth-child(9) {
    -webkit-animation-delay: 0.73s;
    animation-delay: 0.73s;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
}

.ball-grid-pulse>div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
    /* float: left; */
    -webkit-animation-name: ball-grid-pulse;
    animation-name: ball-grid-pulse;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

@-webkit-keyframes ball-spin-fade-loader {
    50% {
        opacity: 0.3;
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes ball-spin-fade-loader {
    50% {
        opacity: 0.3;
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.ball-spin-fade-loader {
    position: relative;
    top: -10px;
    left: -10px;
}

.ball-spin-fade-loader>div:nth-child(1) {
    top: 25px;
    left: 0;
    -webkit-animation: ball-spin-fade-loader 1s -0.96s infinite linear;
    animation: ball-spin-fade-loader 1s -0.96s infinite linear;
}

.ball-spin-fade-loader>div:nth-child(2) {
    top: 17.04545px;
    left: 17.04545px;
    -webkit-animation: ball-spin-fade-loader 1s -0.84s infinite linear;
    animation: ball-spin-fade-loader 1s -0.84s infinite linear;
}

.ball-spin-fade-loader>div:nth-child(3) {
    top: 0;
    left: 25px;
    -webkit-animation: ball-spin-fade-loader 1s -0.72s infinite linear;
    animation: ball-spin-fade-loader 1s -0.72s infinite linear;
}

.ball-spin-fade-loader>div:nth-child(4) {
    top: -17.04545px;
    left: 17.04545px;
    -webkit-animation: ball-spin-fade-loader 1s -0.6s infinite linear;
    animation: ball-spin-fade-loader 1s -0.6s infinite linear;
}

.ball-spin-fade-loader>div:nth-child(5) {
    top: -25px;
    left: 0;
    -webkit-animation: ball-spin-fade-loader 1s -0.48s infinite linear;
    animation: ball-spin-fade-loader 1s -0.48s infinite linear;
}

.ball-spin-fade-loader>div:nth-child(6) {
    top: -17.04545px;
    left: -17.04545px;
    -webkit-animation: ball-spin-fade-loader 1s -0.36s infinite linear;
    animation: ball-spin-fade-loader 1s -0.36s infinite linear;
}

.ball-spin-fade-loader>div:nth-child(7) {
    top: 0;
    left: -25px;
    -webkit-animation: ball-spin-fade-loader 1s -0.24s infinite linear;
    animation: ball-spin-fade-loader 1s -0.24s infinite linear;
}

.ball-spin-fade-loader>div:nth-child(8) {
    top: 17.04545px;
    left: -17.04545px;
    -webkit-animation: ball-spin-fade-loader 1s -0.12s infinite linear;
    animation: ball-spin-fade-loader 1s -0.12s infinite linear;
}

.ball-spin-fade-loader>div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
}

@-webkit-keyframes ball-spin-loader {
    75% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ball-spin-loader {
    75% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

.ball-spin-loader {
    position: relative;
}

.ball-spin-loader>span:nth-child(1) {
    top: 45px;
    left: 0;
    -webkit-animation: ball-spin-loader 2s 0.9s infinite linear;
    animation: ball-spin-loader 2s 0.9s infinite linear;
}

.ball-spin-loader>span:nth-child(2) {
    top: 30.68182px;
    left: 30.68182px;
    -webkit-animation: ball-spin-loader 2s 1.8s infinite linear;
    animation: ball-spin-loader 2s 1.8s infinite linear;
}

.ball-spin-loader>span:nth-child(3) {
    top: 0;
    left: 45px;
    -webkit-animation: ball-spin-loader 2s 2.7s infinite linear;
    animation: ball-spin-loader 2s 2.7s infinite linear;
}

.ball-spin-loader>span:nth-child(4) {
    top: -30.68182px;
    left: 30.68182px;
    -webkit-animation: ball-spin-loader 2s 3.6s infinite linear;
    animation: ball-spin-loader 2s 3.6s infinite linear;
}

.ball-spin-loader>span:nth-child(5) {
    top: -45px;
    left: 0;
    -webkit-animation: ball-spin-loader 2s 4.5s infinite linear;
    animation: ball-spin-loader 2s 4.5s infinite linear;
}

.ball-spin-loader>span:nth-child(6) {
    top: -30.68182px;
    left: -30.68182px;
    -webkit-animation: ball-spin-loader 2s 5.4s infinite linear;
    animation: ball-spin-loader 2s 5.4s infinite linear;
}

.ball-spin-loader>span:nth-child(7) {
    top: 0;
    left: -45px;
    -webkit-animation: ball-spin-loader 2s 6.3s infinite linear;
    animation: ball-spin-loader 2s 6.3s infinite linear;
}

.ball-spin-loader>span:nth-child(8) {
    top: 30.68182px;
    left: -30.68182px;
    -webkit-animation: ball-spin-loader 2s 7.2s infinite linear;
    animation: ball-spin-loader 2s 7.2s infinite linear;
}

.ball-spin-loader>div {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: green;
}

@-webkit-keyframes ball-zig {
    33% {
        -webkit-transform: translate(-15px, -30px);
        transform: translate(-15px, -30px);
    }

    66% {
        -webkit-transform: translate(15px, -30px);
        transform: translate(15px, -30px);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes ball-zig {
    33% {
        -webkit-transform: translate(-15px, -30px);
        transform: translate(-15px, -30px);
    }

    66% {
        -webkit-transform: translate(15px, -30px);
        transform: translate(15px, -30px);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@-webkit-keyframes ball-zag {
    33% {
        -webkit-transform: translate(15px, 30px);
        transform: translate(15px, 30px);
    }

    66% {
        -webkit-transform: translate(-15px, 30px);
        transform: translate(-15px, 30px);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes ball-zag {
    33% {
        -webkit-transform: translate(15px, 30px);
        transform: translate(15px, 30px);
    }

    66% {
        -webkit-transform: translate(-15px, 30px);
        transform: translate(-15px, 30px);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.ball-zig-zag {
    position: relative;
    -webkit-transform: translate(-15px, -15px);
    -ms-transform: translate(-15px, -15px);
    transform: translate(-15px, -15px);
}

.ball-zig-zag>div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    margin-left: 15px;
    top: 4px;
    left: -7px;
}

.ball-zig-zag>div:first-child {
    -webkit-animation: ball-zig 0.7s 0s infinite linear;
    animation: ball-zig 0.7s 0s infinite linear;
}

.ball-zig-zag>div:last-child {
    -webkit-animation: ball-zag 0.7s 0s infinite linear;
    animation: ball-zag 0.7s 0s infinite linear;
}

@-webkit-keyframes ball-zig-deflect {
    17% {
        -webkit-transform: translate(-15px, -30px);
        transform: translate(-15px, -30px);
    }

    34% {
        -webkit-transform: translate(15px, -30px);
        transform: translate(15px, -30px);
    }

    50% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    67% {
        -webkit-transform: translate(15px, -30px);
        transform: translate(15px, -30px);
    }

    84% {
        -webkit-transform: translate(-15px, -30px);
        transform: translate(-15px, -30px);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes ball-zig-deflect {
    17% {
        -webkit-transform: translate(-15px, -30px);
        transform: translate(-15px, -30px);
    }

    34% {
        -webkit-transform: translate(15px, -30px);
        transform: translate(15px, -30px);
    }

    50% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    67% {
        -webkit-transform: translate(15px, -30px);
        transform: translate(15px, -30px);
    }

    84% {
        -webkit-transform: translate(-15px, -30px);
        transform: translate(-15px, -30px);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@-webkit-keyframes ball-zag-deflect {
    17% {
        -webkit-transform: translate(15px, 30px);
        transform: translate(15px, 30px);
    }

    34% {
        -webkit-transform: translate(-15px, 30px);
        transform: translate(-15px, 30px);
    }

    50% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    67% {
        -webkit-transform: translate(-15px, 30px);
        transform: translate(-15px, 30px);
    }

    84% {
        -webkit-transform: translate(15px, 30px);
        transform: translate(15px, 30px);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes ball-zag-deflect {
    17% {
        -webkit-transform: translate(15px, 30px);
        transform: translate(15px, 30px);
    }

    34% {
        -webkit-transform: translate(-15px, 30px);
        transform: translate(-15px, 30px);
    }

    50% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    67% {
        -webkit-transform: translate(-15px, 30px);
        transform: translate(-15px, 30px);
    }

    84% {
        -webkit-transform: translate(15px, 30px);
        transform: translate(15px, 30px);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.ball-zig-zag-deflect {
    position: relative;
    -webkit-transform: translate(-15px, -15px);
    -ms-transform: translate(-15px, -15px);
    transform: translate(-15px, -15px);
}

.ball-zig-zag-deflect>div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    margin-left: 15px;
    top: 4px;
    left: -7px;
}

.ball-zig-zag-deflect>div:first-child {
    -webkit-animation: ball-zig-deflect 1.5s 0s infinite linear;
    animation: ball-zig-deflect 1.5s 0s infinite linear;
}

.ball-zig-zag-deflect>div:last-child {
    -webkit-animation: ball-zag-deflect 1.5s 0s infinite linear;
    animation: ball-zag-deflect 1.5s 0s infinite linear;
}

/*---------   #Global syle   ----------------------------------*/


.doutrinaCardinal {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 26px;
    height: 200px;
    padding-top: 60px;
    padding-bottom: 50px;
}

.doutrinaCardinal a {
    color: #180e0e;
}

.doutrinaCardinal a:hover {
    color: #f1c152;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* .col-md-10 {
    width: 1300px;
} */

.section-title h2 {
    font-size: 1.3em;
}

.centered {
    float: none;
    margin: auto;
    text-align: center;
}

/*  Base Title. */

.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.base-color {
    color: #f1c152;
}

.section-title {
    font-family: 'Philosopher', cursive;
    padding-bottom: 13px;
    font-size: 3em;
    display: table;
    margin: 0 auto 40px auto;
    position: relative;
    color: #111;
}

.section-title:before {
    content: "";
    width: 7px;
    height: 3px;
    background: #F1C152;
    position: absolute;
    bottom: -4px;
    left: 0px;
    right: 85px;
    margin: auto;
    z-index: 1;
    -webkit-transition: 0.35s all ease;
    transition: 0.35s all ease;
}

section:hover .section-title:before,
.section-title:before {
    width: 250px;
    -webkit-transition: 0.35s all ease;
    transition: 0.35s all ease;
    right: 0;
    /* left: -2px; */
}

.section-detail {
    text-align: center;
    color: #4C4C4C;
    max-width: 900px;
    margin: auto;
    margin-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.col-5 {
    width: 20%;
    float: left;
}

@media (max-width: 768px) {
    .col-5 {
        width: 33%;
        float: left;
        margin-bottom: 30px;
    }
}

@media (max-width: 530px) {
    .col-5 {
        width: 100%;
        float: left;
        margin-bottom: 30px;
    }
}

@media (min-width: 992px) {
    .col-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-5 {
        width: 20%;
        float: left;
    }
}

.full-width {
    display: table;
    clear: both;
    width: 100%;
    padding: 0;
}

/*-------------------  Doutrina -------------------------------*/

.doutrinaQuadrangular {
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.doutrinaQuadrangular .containerDoutrina {
    position: relative;
}

.doutrinaQuadrangular .curve-line {
    width: inherit;
    height: 145px;
    border: 2px dotted #ccc;
    border-radius: 170px 170px 0 0;
    border-bottom: 0;
    position: absolute;
    top: 80%;
    left: 0;
}

.doutrinaQuadrangular .section-padding {
    padding-bottom: 70px;
}

/* -------- Padrão --------  */

.doutrinaDaIgreja .itemDoutrina {
    border-radius: 100%;
    color: #180e0e;
    width: 130px;
    height: 130px;
    background-color: #fff;
    position: relative;
    text-align: center;
    margin: auto;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    z-index: 9;
}

.doutrinaDaIgreja .itemDoutrina .item-element {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.doutrinaDaIgreja .itemDoutrina .item-element .text {
    text-transform: uppercase;
    font-weight: bolder;
}

.doutrinaDaIgreja .itemDoutrina:before {
    content: '';
    position: absolute;
    border-radius: 100%;
    border: #d2d2d2 solid 2px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}

.doutrinaDaIgreja .itemDoutrina:hover {
    background: #f1c152;
    border-color: #f1c152;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.doutrinaDaIgreja .itemDoutrina:hover:before {
    border-color: #f1c152;
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
}

/* -------- Cruz --------  */

.doutrinaDaIgreja .item1 {
    border-radius: 100%;
    color: #180e0e;
    width: 130px;
    height: 130px;
    background-color: #fff;
    position: relative;
    text-align: center;
    margin: auto;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    z-index: 9;
}

.doutrinaDaIgreja .item1 .item-element {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.doutrinaDaIgreja .item1 .item-element .text {
    text-transform: uppercase;
    font-weight: bolder;
}

.doutrinaDaIgreja .item1:before {
    content: '';
    position: absolute;
    border-radius: 100%;
    border: #d2d2d2 solid 2px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}

.doutrinaDaIgreja .item1:hover {
    background-image: linear-gradient(135deg, #FEB692 10%, #EA5455 100%);
    border-color: #FEB692;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.doutrinaDaIgreja .item1:hover:before {
    border-color: #EA5455;
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
}

/* -------- Pomba --------  */

.doutrinaDaIgreja .item2 {
    border-radius: 100%;
    color: #180e0e;
    width: 130px;
    height: 130px;
    background-color: #fff;
    position: relative;
    text-align: center;
    margin: auto;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    z-index: 9;
}

.doutrinaDaIgreja .item2 .item-element {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.doutrinaDaIgreja .item2 .item-element .text {
    text-transform: uppercase;
    font-weight: bolder;
}

.doutrinaDaIgreja .item2:before {
    content: '';
    position: absolute;
    border-radius: 100%;
    border: #d2d2d2 solid 2px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}

.doutrinaDaIgreja .item2:hover {
    background-image: linear-gradient(135deg, #FDEB71 10%, #F8D800 100%);
    border-color: #FDEB71;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.doutrinaDaIgreja .item2:hover:before {
    border-color: #F8D800;
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
}

/* -------- Calice --------  */

.doutrinaDaIgreja .item3 {
    border-radius: 100%;
    color: #180e0e;
    width: 130px;
    height: 130px;
    background-color: #fff;
    position: relative;
    text-align: center;
    margin: auto;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    z-index: 9;
}

.doutrinaDaIgreja .item3 .item-element {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.doutrinaDaIgreja .item3 .item-element .text {
    text-transform: uppercase;
    font-weight: bolder;
}

.doutrinaDaIgreja .item3:before {
    content: '';
    position: absolute;
    border-radius: 100%;
    border: #d2d2d2 solid 2px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}

.doutrinaDaIgreja .item3:hover {
    background-image: linear-gradient(135deg, #ABDCFF 10%, #0396FF 100%);
    border-color: #ABDCFF;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.doutrinaDaIgreja .item3:hover:before {
    border-color: #0396FF;
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
}

/* -------- Coroa --------  */

.doutrinaDaIgreja .item4 {
    border-radius: 100%;
    color: #180e0e;
    width: 130px;
    height: 130px;
    background-color: #fff;
    position: relative;
    text-align: center;
    margin: auto;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    z-index: 9;
}

.doutrinaDaIgreja .item4 .item-element {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.doutrinaDaIgreja .item4 .item-element .text {
    text-transform: uppercase;
    font-weight: bolder;
}

.doutrinaDaIgreja .item4:before {
    content: '';
    position: absolute;
    border-radius: 100%;
    border: #d2d2d2 solid 2px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}

.doutrinaDaIgreja .item4:hover {
    background-image: linear-gradient(135deg, #CE9FFC 10%, #7367F0 100%);
    border-color: #CE9FFC;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.doutrinaDaIgreja .item4:hover:before {
    border-color: #7367F0;
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
}